@model DACN_To_chuc_thi.Models.layThongTinTrcKhiThiBangMssv_Result
@{
    Layout = null;
}
<link href="~/Assets/admin/css/chon_de_thi.css" rel="stylesheet" />

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/chon_de_thi.css">
    <title>Document</title>
</head>

<body>
    <div id="wrapper">
        <div id="container">
            <div class="row">
                <div class="exam-info">
                    <div class="private-info">
                        <div class="name">Họ tên: @Model.ho_ten</div>
                        <div class="mssv">MSSV:  @Model.mssv</div>
                    </div>
                    <div class="subject">Môn:  @Model.ten_mon</div>
                    <div class="time-start">Giờ bắt đầu:  @Model.ngay_thi.ToString("hh:mm tt")</div>
                </div>
                <div class="btn-start"><a href="@Url.Action("Thi","ChonMonThi")">Bắt đầu</a></div>
            </div>
        </div>
        <div id="cjd"><a>Thông tin thi</a></div>
    </div>
</body>

</html>
