
<div class="logo">
    <img src="https://file1.hutech.edu.vn/file/editor/homepage/stories/hinh34/logo%20CMYK-01.png" alt="">
</div>
<div class="img-and-name">
    <img src="https://www.kindpng.com/picc/m/24-248253_user-profile-default-image-png-clipart-png-download.png"
         alt="">
    <div class="name"><a>Nguyen van a</a> </div>

</div>
<ul class="item-container">
    <li class="item">
        <i class="fa-solid fa-house-user"></i>
        <a href="@Url.Action("Index","AdHome")">Trang chủ</a>
    </li>
    <li class="item">
        <i class="fa-solid fa-user"></i>
        <a href="@Url.Action("Index","PrivateInfo")">Hồ sơ cá nhân</a>
    </li>
    <li class="item">
        <i class="fa-solid fa-users"></i>
        <a href="@Url.Action("Index","Student")">Sinh viên</a>
    </li>
    <li class="item">
        <i class="fa-solid fa-book-open"></i>
        <a href="@Url.Action("Index","Subject")">Môn thi</a>
    </li>
    <li class="item">
        <i class="fa-solid fa-list"></i>
        <a href="@Url.Action("Index","DsHocPhan")">Ds Học phần</a>
    </li>
    <li class="item">
        <i class="fa-solid fa-building-columns"></i>
        <a href="@Url.Action("Index","FrameTest")">Khung đề thi</a>
    </li>
    <li class="item">
        <i class="fa-solid fa-inbox"></i>
        <a href="@Url.Action("Index","ToChucThi")">Tổ chức thi</a>
    </li>
    <li class="item">
        <i class="fa-solid fa-tags"></i>
        <a href="@Url.Action("Index","ToThi")">Tổ thi</a>
    </li>
    <li class="item">
        <i class="fa-solid fa-file"></i>
        <a href="@Url.Action("Index","ExamResult")">Kết quả thi</a>
    </li>
    <li class="item">
        <i class="fa-sharp fa-solid fa-gear"></i>
        <a href="@Url.Action("Index","Shirt_and_Room")">Phòng thi</a>
    </li>

    <li class="item">
        <i class="fa-sharp fa-solid fa-right-from-bracket fa-flip-horizontal"></i>
        <a href="@Url.Action("LogOut","AdHome")">Đăng xuất</a>
    </li>
</ul>